:root {
  --van-tabs-bottom-bar-color: @theme-color;
  --van-tabbar-item-font-size: var(--van-font-size-md);

  --van-dropdown-menu-title-active-text-color: #1989fa;
  --van-dropdown-menu-option-active-color	: #1989fa;
  --van-dropdown-menu-box-shadow: none;
}